/*---------------
# Apply root theme colours
------------------------------*/

:root {
    --primaryColor: rgb(125, 198, 184);
    --secondaryColour: rgb(48, 56, 59);
    --accentColour: rgb(45, 148, 186);
}

/*---------------
# Import tailwind values
------------------------------*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/*---------------
# Style typography
------------------------------*/

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.9rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

div#primary p {
    margin-bottom: 1rem;
}

/*---------------
# Style our buttons
------------------------------*/

@layer components {

    .button {
        @apply text-white py-3 px-5 bg-slate-800;
    }

    .button:hover {
        @apply bg-slate-200;
    }
}

/*---------------
# Navigation: Style dropdowns
------------------------------*/

@screen xl {
    
    .dropdown-menu li > .dropdown-menu {
        @apply right-full;
    }

    .dropdown:hover > .dropdown-menu {
        @apply block;
    }

}

/*---------------
# Navigation: Style mobile navigation
------------------------------*/

@media screen and ( max-width: 1280px) {

    body div#header-nav.main-nav-container.show {
        @apply fixed right-0 inset-y-0 h-full flex-col-reverse;
        width: calc(100vw - 35vw);
    }
    
    .main-nav-container.show .navbar-collapse {
        @apply block;
    }

    body div#header-nav.show-finish .navbar-collapse,
    body div#header-nav.main-nav-container.show .menu-animate div {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .main-nav-container.show .flex-banner {
        @apply opacity-0 -translate-y-full;
    }
    
    .flex-banner > button,
    .flex-banner > a {
        @apply flex-1;
    }

    .main-nav-container.show-finish .flex-banner {
        @apply opacity-100 translate-y-0;
    }
}